.services{
    background-color: #f9f6ef;
    text-align: center;
}

.services_title{
    font-size: 1.25rem;
    margin-top: 100px;
}

.services_text{
    padding: 50px 50px;
    line-height: 1.5rem;
    margin-bottom: 100px;
}